<% content_for :title, "Editing tipo prodotto" %>

<h1>Editing tipo prodotto</h1>

<%= render "form", tipo_prodotto: @tipo_prodotto %>

<br>

<div>
  <%= link_to "Show this tipo prodotto", @tipo_prodotto %> |
  <%= link_to "Back to tipo prodottos", tipo_prodottos_path %>
</div>
