<% content_for :title, "New tipo prodotto" %>

<h1>New tipo prodotto</h1>

<%= render "form", tipo_prodotto: @tipo_prodotto %>

<br>

<div>
  <%= link_to "Back to tipo prodottos", tipo_prodottos_path %>
</div>
