<% content_for :title, "Editing prodotto" %>

<h1>Editing prodotto</h1>

<%= render "form", prodotto: @prodotto %>

<br>

<div>
  <%= link_to "Show this prodotto", @prodotto %> |
  <%= link_to "Back to prodottos", prodottos_path %>
</div>
